.scroll-viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 190px);
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 10px;
    width: 100%;
    height: 100%;
    align-content: start;
}

.pokemon-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    padding: 16px;
    text-align: center;
}

.pokemon-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pokemon-image {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
}

.pokemon-info h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.pokemon-info p {
    margin: 8px 0;
    font-size: 0.9em;
    color: #555;
}

.pokemon-info span {
    display: inline-block;
    margin-right: 8px;
    background-color: #eee;
    padding: 2px 6px;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0;
    }

    .scroll-viewport {
        height: calc(100vh - 225px);
        padding: 16px;
    }
}

/* Skeleton loading animations */
@keyframes skeleton-loading {
    0% {
        background-color: #eeeeee;
    }

    100% {
        background-color: #dddddd;
    }
}

.skeleton-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    animation: skeleton-loading 1s linear infinite alternate;
    min-height: 315px;

    .skeleton-image,
    .skeleton-text {
        border-radius: 4px;
        background-color: #e0e0e0;
        animation: skeleton-loading 1s linear infinite alternate;
    }

    .skeleton-image {
        width: 100px;
        height: 100px;
        margin-bottom: 12px;
    }

    .skeleton-text {
        height: 16px;
        margin: 8px 0;
    }

    .skeleton-title {
        width: 60%;
        margin: 0 auto 12px;
        height: 20px;
    }

    .skeleton-info {
        width: 80%;
        margin: 4px auto;
    }
}


.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 1.2rem;

    .pagination-button {
        background-color: #1976d2;
        color: white;
        border: none;
        padding: 10px 15px;
        margin: 0 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover:not(:disabled) {
            background-color: #1565c0;
        }

        &:disabled {
            background-color: #b0bec5;
            cursor: not-allowed;
        }

        i {
            font-size: 1.2rem;
        }
    }

    .pagination-input {
        width: 50px;
        padding: 5px 10px;
        margin: 0 10px;
        text-align: center;
        font-size: 1.2rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease-in-out;

        &:focus {
            border-color: #1976d2;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        -moz-appearance: textfield;
    }

    span {
        display: flex;
        align-items: center;
    }
}

.no-results-wrapper {
    width: 100%;
    height: 500px;

    .no-results {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #757575;
        z-index: 10;

        i {
            font-size: 3rem;
            color: #1976d2;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            margin: 10px 0;
        }
    }
}