<div class="toolbar">
  <img
    src="assets/pokemon-logo.png"
    alt="Pokémon Logo"
    class="logo"
    (click)="goToHome()"
  />
  <div class="spacer"></div>
  <div class="option-container">
    <div class="search-container">
      <input
        type="text"
        placeholder="Search Pokémon..."
        [(ngModel)]="searchQuery"
        (input)="onSearchChange($event)"
        class="search-input"
      />
      <i class="fas fa-search search-icon"></i>
    </div>
    <select
      [(ngModel)]="sortOption"
      (change)="onSortChange($event)"
      class="sort-select"
    >
      <option value="default">Default Order</option>
      <option value="pokedex">Pokédex Order</option>
    </select>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
