<div class="toolbar">
  <img
    src="assets/pokemon-logo.png"
    alt="Pokémon Logo"
    class="logo"
    (click)="goToHome()"
  />
  <div class="spacer"></div>
  <input
    type="text"
    placeholder="Search Pokémon..."
    [(ngModel)]="searchQuery"
    (input)="onSearchChange($event)"
    class="search-input"
  />
  <select
    [(ngModel)]="sortOption"
    (change)="onSortChange($event)"
    class="sort-select"
  >
    <option value="default">Default Order</option>
    <option value="pokedex">Pokédex Order</option>
  </select>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
